<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
      <div>
        <div>
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div>
          <p class="top">267 Park Ave</p>
          <p>New York, NY 90210</p>
        </div>
      </div>
      <div>
        <div>
          <i class="fas fa-phone fa-rotate-90"></i>
        </div>
        <div>
          <p class="top">(123) 456-7891</p>
          <p>info@demolink.org</p>
        </div>
      </div>
      <div>
        <div>
          <i class="far fa-clock"></i>
        </div>
        <div>
          <p class="top">Mon - Sat: 9:00 - 18:00</p>
          <p>Sunday CLOSED</p>
        </div>
      </div>
</div>
<div class="top-nav">
  <div>
    <div>Home</div>
    <div>Pages</div>
    <div>Services</div>
    <div>Blog</div>
    <div>Contacts</div>
  </div>
  <div>
    <i class="fas fa-search"></i>
  </div>
</div>
<div class="main">
  <h2>Solutions that never miss the aim</h2>
</div>
<div class="footer">
  <div>
    <i class="fas fa-briefcase"></i>
    <h3>Taxation</h3>
    <p>Tax planning considers the tax implications of business decisions, usually with the goal of minimizing tax liability.</p>
  </div>
  <div>
    <i class="fas fa-dollar-sign"></i>
    <h3>Financial Planning</h3>
    <p>We'll help you make sensible decisions about money that can help you achieve your goals in life.</p>
  </div>
  <div>
    <i class="fas fa-coffee"></i>
    <h3>Retirement Planning</h3>
    <p>Use our strategies and retirement advice, including retirement calculators to help your retire faster.</p>
  </div>
  <div>
    <i class="fas fa-signal"></i>
    <h3>Risk Management</h3>
    <p>Risk management is intended to manage financial and other losses associated with risks to your assets or business.</p>
  </div>
</div>

